# Lokasi source kernel
KERNEL_DIR=kernel/infinix/zero30

# Config dasar GKI dari upstream Google
BUILD_CONFIG_FRAGMENT=common/build.config.gki.aarch64

# Nama defconfig dari kernel kamu
DEFCONFIG=gki_defconfig

# Nama image kernel hasil build
KERNEL_IMAGE_NAME=Image

# Gunakan compiler bawaan Android (Clang)
CLANG_TRIPLE=aarch64-linux-gnu-
CROSS_COMPILE=aarch64-linux-android-

# Enable dtbo jika perlu
BUILD_BOOT_IMG=1
BUILD_GKI_BOOT_IMG=1
